<!-- this page shows tasks that have matching tag-->
<% if not @tasks.any? %>
	<div class="container-fluid" style="margin-top: 30px;">
		<h1 align="center"> Oops, no matching task found.</h1>
		<button type="button" class="btn btn-secondary">
			<%= link_to 'Back', user_tasks_path, style:"color:white" %> 
		</button>
	</div>
<% else %>
	<div class="container-fluid" style="margin-top: 30px;">
		<% if @tasks.first.tag.blank? %>
			<h1 align="center">The following tasks have no tag.</h1>
		<% else %>
			<h1 align="center">The following tasks are tagged "
				<%= @tasks.first.tag %>"
			</h1>
		<% end %>
	</div>

	<button type="button" class="btn btn-secondary">
		<%= link_to 'Back', user_tasks_path, style:"color:white" %> 
	</button>
	<br>
	<hr>
	<%= render 'display_searched_tasks' %>
<% end %>