<!-- shows all completed tasks that a user has -->
<% if @user.tasks.where(is_completed: true).any? %>
  <div class="container-fluid" style="margin-top: 30px;">
    <h1 align="center">Good Job! You've completed all these tasks!</h1>
  </div>
  <div class="container">
    <button type="button" class="btn btn-secondary">
      <%= link_to 'Back', user_tasks_path, style:"color:white"%>
    </button>
  </div>
  <hr>
  <%= render 'completed_tasks' %>
<% else %>
    <div class="container-fluid" style="margin-top: 30px;">
      <h1 align="center">You don't have any completed task yet.</h1>
    </div>
    <hr>
    <button type="button" class="btn btn-secondary">
      <%= link_to 'Back', user_tasks_path, style:"color:white"%>
    </button>
<% end %>