<div class="jumbotron">
<h1>Welcome to Planit</h1>
<p> If you fail to plan, you plan to fail. </p>
<p> Sign in now to plan your tasks and be productive! </p>
<%= link_to 'Sign in', sign_in_path %>
<%= link_to 'Admin', admin_path %>
</div>


